# Python
__pycache__/
*.py[cod]
*$py.class
*.so
dist/
build/
*.egg-info/
.venv/
venv/
env/

# C++
*.o
*.obj
*.dylib
*.dll
cpp/build/

# Editor/System
.DS_Store
.vscode/
.idea/
/reslik/

# LaTeX / PDF
*.pdf
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
reslik_arxiv_submission.zip

# Paper
paper/